Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.3.1
django-filter==25.1
python-decouple==3.8
dj-database-url==3.0.0
psycopg2-binary==2.9.10
stripe==7.8.0
Pillow
celery
redis
django-q
python-dotenv
django-rest-passwordreset 