# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51RP2Z3Qq6u5vbVXcyZvDDP5ZxOmtGpPnB1qPGQ20UQKOmjhrY4DoNKi5E421PAjKL8dWjwHyOMpDsiFzI7GJuKWF00JCfl6HLI 